.quiz-ui{

position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);

background:#1e1e1e;
color:white;

padding:30px;
border-radius:14px;

width:420px;

box-shadow:0 10px 40px rgba(0,0,0,0.6);

text-align:center;

}

.quiz-buttons button{

width:100%;
margin:8px 0;
padding:12px;

font-size:16px;

border-radius:8px;

border:none;
background:#3a7cff;
color:white;

cursor:pointer;

}

.vote-bar{

display:inline-block;
height:20px;
background:#4CAF50;
margin:0 6px;

}

.correct-bar{

background:#FFD700 !important;
box-shadow:0 0 10px gold;

}
